.section-text-content {
    margin-bottom: 35px;
}

.section-name {
    font-family: $font-outfit;
    font-weight: 500;
    @include toRem(font-size, 15);
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-gray12;
    margin-bottom: 12px;
}
.section-heading {
    font-family: $font-outfit;
    font-weight: 600;
    @include toRem(font-size, 30);
    line-height: 30px;
    text-transform: capitalize;
    color: $color-title;
    margin-bottom: 22px;
    display: inline-block;
    @include media-only ('sm', min) {
        @include toRem(font-size, 36);
        line-height: 40px;
    }
}
.para-text {
    font-family: $font-outfit;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-transform: capitalize;
    color: $color-shade1;
}