.section-text-content {
    .section-name {
        font-family: $font-outfit;
        font-weight: 500;
        @include toRem(font-size, 15);
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-gray12;
    }
    .section-heading {
        font-family: $font-outfit;
        font-weight: 600;
        @include toRem(font-size, 36);
        line-height: 40px;
        text-transform: capitalize;
        color: $color-title;
    }
    .para-text {
        font-family: $font-outfit;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        text-transform: capitalize;
        color: $color-shade1;
    }

    &--style-1 {
        .section-name {

        }
        .section-heading {
    
        }
        .para-text {
    
        }
    }
}