.rt-team-card {
    background: $color-white;
    border: 1px solid #E0E0E0;
    padding: 40px 40px 0 0;

    .rt-team-card-img-container {
        position: relative;
        .rt-team-card-img {
            height: 150px;
            
            @include media-only('xs', min) {
                height: 210px;
            }
        }
        .shapes {
            ul {
                li {
                    position: absolute;
                    display: inline-block;
                    &:nth-child(1) {
                        top: -22px;
                        left: 65px;
                    }
                }
            }
        }
        &:hover {
            
        }
    }
    .rt-team-card-content {
        .title {
            a {
                font-family: $font-outfit;
                font-weight: 600;
                @include toRem(font-size, 24);
                line-height: 40px;
                text-transform: capitalize;
                color: $color-title;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .designation {
            font-family: $font-outfit;
            font-weight: 400;
            @include toRem(font-size, 16);
            line-height: 18px;
            text-transform: capitalize;
            color: $color-primary;
            margin-bottom: 30px;
        }
        ul.meta-list {
            .meta-data {
                gap: 10px;
                // margin-bottom: 11px;
                font-family: 'Hind';
                font-weight: 400;
                font-size: 16px;
                // line-height: 0px;
                color: #4F536C;
                svg {
                    margin-top: -2px;
                }
            }
        }
    }
    &--style-2 {
        width: 100%;
        background: $color-gray15;
        padding: 23px 0 0 0;
        @include media-only(380px, min) {
            width: 325px;
        }
     
        .rt-team-card-img-container {
            .rt-team-card-img {
                height: unset;
            }
        }
        .rt-team-card-content-wrapper {
            position: relative;
            margin: 0 30px;
            height: 105px;
            .rt-team-card-content {
                background: #fff;
                border-radius: 10px;    
                position: absolute;
                width: 100%;
                height: 75px;
                bottom: 30px;
                transition: 0.5s ease-in-out;
                .title {
                    a {
                        font-family: $font-outfit;
                        font-weight: 600;
                        @include toRem(font-size, 24);
                        line-height: 40px;
                        text-transform: capitalize;
                        color: $color-primary;
                        @include transition;
                    }
                    transition: 0.5s ease-in-out;
                }
                .designation {
                    font-family: $font-outfit;
                    font-weight: 400;
                    @include toRem(font-size, 16);
                    line-height: 20px;
                    text-transform: capitalize;
                    color: $color-shade1;
                    margin-bottom: 0;
                    @include transition;
                }

                .meta-list {
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.5s ease;
                }
    
                &::before {
                    content: "";
                    position: absolute;
                    border-bottom: 15px solid white;
                    border-left: 125px solid transparent;
                    border-right: 125px solid transparent;
                    top: -14px;
                    width: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    transition: 0.5s ease-in-out;
                }
            }

        }
        &:hover {
            .rt-team-card-content {
                height: 145px;
                background: $color-primary;
                &::before {
                    border-bottom: 15px solid $color-primary;  
                }
                .title {
                    a {
                        color: $color-white;
                    }
                }
                .designation {
                    color: $color-white;
                    margin-bottom: 10px;
                }
                .meta-list {
                    opacity: 1;
                    visibility: visible;
                    li {
                        color: $color-white;
                        svg {
                            fill: $color-white;
                        }
                    }
                }
            }
        }
    }
    &--style-3 {
        border: none;
        padding: 0;
        
        .rt-team-card-img-container {
            border-radius: 10px 10px 0px 0px;
            overflow: hidden;
            a {
                width: 100%;
                .rt-team-card-img {
                    width: 100%;
                    height: auto;
                    @include transition;
                }
            }
        }
        .rt-team-card-content {
            text-align: center;
            background: #F8F8F8;
            border-radius: 0px 0px 10px 10px;
            padding: 30px 35px;
            .title {
                a {
                    color: $color-primary;
                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
            .designation {
                color: #4F536C;
                position: relative;
                font-weight: 500;
                margin-bottom: 34px;
                &::before {
                    content: "";
                    position: absolute;
                    position: absolute;
                    width: 50px;
                    height: 3px;
                    background: #D9D9D9;
                    left: 0;
                    right: 0;
                    bottom: -18px;
                    margin: auto;
                }
            }
            ul.meta-list {
                display: flex;
                justify-content: space-between;
                .meta-data { 
                    gap: 5px;
                    a {
                        color: #4F536C;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        &:hover {
            .rt-team-card-img-container {
                a {
                    .rt-team-card-img {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}

.team-section {
    padding-bottom: 110px;
    .team-wrap {
        gap: 30px;
        flex-wrap: wrap;
        @include media-only (1500px, min ) {
            flex-wrap: nowrap;
        }
    }
    .section-text-content {
        margin-bottom: 20px;
        .section-heading {
            margin-bottom: 25px;
            display: inline-block;
            &::before {
                content: url("../images/team/shapes/underline.svg");
                position: absolute;
                bottom: -24px;
                right: 0;
                bottom: -24px;
                text-align: center;
            }
        }
        .para-text {
            margin-bottom: 20px;
        }
    }
    &--style-2 {
        padding-bottom: 140px;
        .section-text-content {
            .section-heading {
                &::before {
                    left: 0;
                    right: 0;
                    top: 20px;
                    margin: auto;
                }
            }
        }
    }
    &--style-3 {
        padding-bottom: 140px;
        .section-text-content {
            .section-heading {
                &::before {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

.team-page {
    .team-section {
        .team-wrap { 
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}