.testimonial-item {
    background: $color-white;
    border: 1px solid #DBDBDB;
    gap: 21px;
    padding: 50px 30px 50px 35px;

    .testimonial-avatar {

    }
    .testimonial-text-content-wrapper {
        flex: 1;
        .ratings {
            margin-bottom: 10px;
            ul {
                gap: 3px;
            }
        }
        .testimonial-comment {
            p {
                line-height: 26px;
            }
            margin-bottom: 5px;
        }
        .author-info {
            .name {
                font-family: $font-outfit;
                font-weight: 600;
                @include toRem(font-size, 20);
                line-height: 28px;
                text-transform: capitalize;
                color: $color-title;
            }
        }
    }

    .shapes {
        ul {
            li {
                position: absolute;
                display: inline-block;
                &:nth-child(1) {
                    right: 30.88px;
                    bottom: 26.58px;
                }
            }
        }
    }
}


