.filter-action-area {
    margin-bottom: 32px;
    .total-result {
        font-family: $font-outfit;
        font-weight: 400;
        @include toRem(font-size, 16);
        line-height: 40px;
        text-transform: capitalize;
        color: $color-title;
    }
    .actions {
        gap: 8px;
        .search-filter {
            gap: 12px;
            .sort-by-text {
                @extend .total-result;
                color: $color-shade1;
            }
            .course-filter-selector {
                border: 1px solid #DCDBE5;
                border-radius: 5px;
                .nice-select {
                    padding-right: 41px;
                    span {
                        font-family: $font-outfit;
                        font-weight: 400;
                        @include toRem(font-size, 16);
                        text-transform: capitalize;
                        color: $color-title;

                    }
                    &::after {
                        border-bottom: 2px solid $color-primary;
                        border-right: 2px solid $color-primary;
                        height: 8px;
                        width: 8px;
                        top: 45%;
                    }
                }
            }
        }
        .view-buttons {
            gap: 8px;
            button {
                width: 42px;
                height: 42px;
                border: 1px solid #DCDBE5;
                border-radius: 5px;
                background: transparent;
                @include transition;
                &:hover {
                    background: $color-primary;
                    border: 1px solid transparent;
                    svg {
                        fill: $color-white;
                    }
                }
            }
            button.active {
                background: $color-primary;
                border: 1px solid transparent;
                svg {
                    fill: $color-white
                }
            }
        }
    }
}