.rt-pricing {
    &-plan-btn {
        display: flex;
        justify-content: center;
        .nav-tabs {
            // background: $color-white;
            outline: 1px solid #EBEBEB;
            outline-offset: 5px;
            border-radius: 50px;

            background: #F7F7FB;
            border: 1px solid #EAEAF2;
            box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.06);
            border-radius: 50px;
            button {
                border: none;
                font-family: $text-font;
                font-weight: 500;
                @include toRem(font-size, 14);
                line-height: 17px;
                text-align: center;
                text-transform: capitalize;
                color: $color-title;
                @include transition;
                padding: 10px 20px;
            }
            .nav-link.active {
                background: #FFCD1F;
                border-radius: 50px;
                color: $color-title;
            }
        }
    }
}