.post-comment-form-wrapper {
    border-radius: 8px;
    padding: 38px 17px  45px 40px;
    background: $color-gray13;
    border: 1px solid #E0E0ED;
    border-radius: 12px;
    .title {
        font-family: $font-outfit;
        font-weight: 600;
        @include toRem(font-size, 24);
        line-height: 30px;
        color: $color-title;
        margin-bottom: 2px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background: $color-primary;
            border-radius: 100px;
            width: 40px;
            height: 5px;
            bottom: -23px;
        }
    }
    .para-text {
        margin-bottom: 17px;
        @include toRem(font-size, 16);
        line-height: 26px;
    }
    .post-comment-form {
        .input-area {
            input {
                background: $color-white;
                border-radius: 5px;
                border: none;
                width: 100%;
                padding: 11px 15px;
                font-family: 'Hind';
                font-weight: 400;
                @include toRem(font-size, 16);
                line-height: 28px;
                text-transform: capitalize;
                margin-bottom: 30px;
                &::placeholder {
                    color: #A2A8B0;
                }
            }
            textarea {
                background: $color-white;
                border-radius: 5px;
                border: none;
                width: 100%;
                padding: 15px 15px;
                margin-bottom: 13px;

                font-family: 'Hind';
                font-weight: 400;
                @include toRem(font-size, 16);
                line-height: 28px;
                text-transform: capitalize;

                &::placeholder {
                    color: #A2A8B0;
                }
            }
        }
        .check-box-area {
            gap: 12px;
            margin-bottom: 24px;
            input {
                width: 23px;
                height: 23px;
                margin: 0;
                border-radius: 3px;
                border: 1px solid #C6C6C6;

            }
            label {
                font-family: $font-outfit;
                font-weight: 400;
                @include toRem(font-size, 16);
                line-height: 26px;
                text-transform: capitalize;
                color: #4F536C;
            }
        }
        .form-btn {
            a {
                padding: 16px 26px;
                background: $color-primary;
                border-radius: 5px;
                font-family: $font-outfit;
                font-weight: 600;
                @include toRem(font-size, 16);
                color: $color-white;
            }
        }
    }
    &--style-2 {
        padding: 35px 15px 35px 40px;
        .title {
            font-family: $font-outfit;
            font-weight: 600;
            @include toRem(font-size, 24);
            line-height: 30px;
            color: $color-title;
            margin-bottom: 37px;
        }
        background: $color-white;
        .post-comment-form {
            .input-area {
                input {
                    background: #F5F5F7;
                    margin-bottom: 9px;
                }
                textarea {
                    background: #F5F5F7;
                }
            }
            .form-btn {
                a {
                    padding: 36px 26px;
                    background: $color-primary;
                    border-radius: 5px;
                    font-family: $font-outfit;
                    font-weight: 600;
                    @include toRem(font-size, 16);
                    color: $color-white;
                    width: 100%;
                    text-align: center;
                    display: inline-block;
                }
            }
        }
    }
}

.contact-page {
    .post-comment-form-wrapper {
        // padding: 35px 6px 40px 30px;
    }
}

.blog-details-page {
    .post-comment-form-wrapper {
        .title {
            &::before {
                display: none;
            }
        }
    }
}