
.searchbox-container {
    border: 1px solid #BDBABB;
    padding: 3px;
    background: $color-white;
    border-radius: 100px;
    width: 100%;
    height: 53px;
    gap: 33px;
    @include media-only('md', min) {
        width: 736px;
    }
    .category-selector {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 20px;
            left: 216px;
            top: 10px;
            background: #BDBABB;
        }
    }
    .searchbox-textfield {
        width: 50%;
        .searchbox-input {
            border: none;
            background: $color-white;
            width: 100%;
            &::placeholder {
                font-family: $font-outfit;
                font-weight: 400;
                font-size: 15px;
                line-height: 19px;
                text-transform: capitalize;
                color: $color-gray11;
            }
        }
    }
    .searchbox-submit {
        .rt-searchbox-btn {
            background: $color-primary;
            font-family: $font-outfit;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-transform: capitalize;
            color: $color-white;
            border: none;
            padding: 12px 30px;
            border-radius: 50px;
            gap: 8px;
        }
    }
    &--style-1 {

    }

    &--style-2 {
        border: 1px solid #2E2B37;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 100%;
        padding: 0;
        background: transparent;
        height: 60px;
        padding: 10px;
        @include media-only('sm', min) {
            width: 389px;
        }
        .search-box-content-warpper {
            gap: 10px;
            justify-content: space-between;
            .searchbox-textfield {
                .searchbox-input {
                    border: none;
                    padding-left: 10px;
                    background: transparent;
                    width: 100%;
                    color: #646375;
                    font-family: $font-outfit;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    text-transform: capitalize;
                    &::placeholder {
                        color: #646375;
                    }
                }
            }
            .searchbox-submit {
                .rt-searchbox-btn {
                    font-family: $font-outfit;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    text-transform: capitalize;
                    border: none;
                    padding: 8px 20px 9px 20px;
                    border-radius: 3px;
                }
            }
        }
    }

    &--style-3 {
        width: 100%;
        margin: auto;
        height: 60px;
        padding: 0;
        margin-bottom: 25px;
        @include media-only('md', min) {
            width: 816px;
        }
        .nice-select {
            padding-left: 28px;
        }
        .searchbox-submit { 
            .rt-searchbox-btn {
                padding: 18px 30px;
            }
        }
    }

    &--style-4 {
        width: 100%;
        height: 60px;
        background: #FFFFFF;
        border: 1px solid #DCDBE5;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        padding: 0;
        margin-bottom: 36px;
        .searchbox-textfield {
            width: 100%;
            .rt-searchbox-form {
                input {
                    padding-left: 26px;
                }
            }
        }
        .searchbox-submit {
            .rt-searchbox-btn {
                background: transparent;
                padding: 19px 26px;
            }
        }
    }
}