.reviews {
    .title {
        font-family: $font-outfit;
        font-weight: 600;
        @include toRem(font-size, 26);
        color: $color-title;
        margin-bottom: 45px;
    }
    .reviewer-details {
        gap: 19px;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 35px;
        margin-bottom: 40px;
        .reviewer-img {

        }
        .reviewer-info {
            flex: 1;
            .reviewer-name {
                margin-bottom: 10px;
                .name-post-time-wrapper {
                    a {
                        font-family: $font-outfit;
                        font-weight: 500;
                        @include toRem(font-size, 18);
                        color: #4F536C;
                        margin-right: 10px;
                    }
                    span {
                        font-family: $font-outfit;
                        font-weight: 400;
                        @include toRem(font-size, 14);
                        color: #9D9CAE;
                    }
                }
            }
            .review-title {
                font-family: $font-outfit;
                font-weight: 600;
                @include toRem(font-size, 17);
                color: $color-title;
                margin-bottom: 2px;
            }
            .para-text {
                @include toRem(font-size, 16);
                line-height: 26px;
            }
        }
    }
    &--style-2 {
        background: $color-white;
        .title {
            font-family: $font-outfit;
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
            text-transform: capitalize;
            color: $color-title;
            margin-bottom: 19px;
        }
        .reviewer-details {
            border: 1px solid #DCDBE6;
            border-radius: 10px;
            margin-bottom: 16px;
            padding: 32px 38px 42px 50px;
        }
    }
}