.rt-counter-item {
    gap: 20px;

    .item-title {
        .rtOdoCounter {
            font-family: $font-outfit;
            font-weight: 600;
            font-size: 48px;
            line-height: 30px;
            text-align: center;
            text-transform: capitalize;
            color: $color-white;
        }

        .label {
            font-family: $font-outfit;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            text-transform: capitalize;
            color: $color-white;
        }
    }
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    // overflow: unset;
}