.contact-info-box {
    gap: 10px;
    .icon {
        width: 50px;
        height: 50px;
        border: 1px solid #D5D5D5;
        svg {
            
        }
    }
    .contact-info-details {
        .title {
            @include toRem (font-size, 14px);
            font-family: $font-outfit;
            font-weight: 400;
            line-height: 18px;
            text-transform: capitalize;
            color: #9D9CAE;
        }
        .info {
            font-family: $font-outfit;
            font-weight: 500;
            @include toRem (font-size, 18px);
            line-height: 23px;
            text-transform: capitalize;
            color: $color-secondary;
        }
    }
}