/* ========================== */
/* bootstrap accordion reset
/* =========================== */

.accordion-button {
    background: #F8F8F8;
    font-family: $font-outfit;
    font-weight: 500;
    @include toRem(font-size, 18);
    line-height: 23px;
    color: $color-title;
    height: 60px;
    padding: 1rem 25px;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.accordion-button::after {
    background-image: url("../images/icons/right-arrow.svg");
    background-size: unset;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/icons/white-up-arrow.svg");
    transform: rotate(0deg);
    height: 10px;
    
}

.accordion-flush .accordion-item .accordion-button:not(.collapsed) {
    color: $color-white;
    background-color: $color-primary;
    box-shadow: none;
    border-radius: 5px 5px 0px 0px;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-flush .accordion-item {
    position: relative;
    margin-bottom: 7px;
    border-radius: 5px;
    border: none;
    &:first-child {
        
    }
    &:last-child {
        
    }
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 5px;
    &:last-child {
        // border-radius: 6px;
    }
}

.services-details-page {
    .accordion-item {
        margin-bottom: 15px;
    }
}

.accordion-body {
    border: 1px solid #DCDBE5;
    padding: 0;
    border-radius: 0px 0px 5px 5px;
}

/* End Custom accordion */

/* ========================== */
// nice select reset
/* =========================== */

.nice-select {
    background: transparent;
    border: none;
    font-family: $font-outfit;
    font-weight: 400;
    font-size: 15px;
    color: $color-gray12;
    padding-right: 100px;
    text-transform: capitalize;


    .list {
        width: 100%;
    }
}

.nice-select:after {
    border-bottom: 2px solid #4F536C;
    border-right: 2px solid #4F536C;
    height: 10px;
    width: 10px;
    right: 23px;
    top: 44%;
}





/*=============================
// Bootstrap Row gutter reset
==============================*/

// .row { 
//     --bs-gutter-x: 1.875rem;
// }

//Gutter size
@media (min-width: 1200px) {
    .row.gutters-30 {
        margin-left: -15px;
        margin-right: -15px;
    }
    .row.gutters-30 > [class^="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}


//swipper slider bullets style


.swiper {
    padding-bottom: 80px;
}
.swiper-slide,.swiper-wrapper {
    transform: translate3d(-224px, 0px, 0px);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}
.swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: 0;
}
.swiper-pagination .swiper-pagination-bullet {
    background: #D9D9D9;
    width: 15px;
    height: 15px;
    opacity: 1;
} 
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $color-primary;
}




   
.header-hero-wrapper {
    background: linear-gradient(92.92deg, #2405F3 9.1%, #5C1CE2 99.72%);
    position: relative;
    &::before {
        content: url("../images/hero-section/opacity-bg.png");
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
    }
}