.all-course-section {
    .sidebar-widget-wrapper {

        background: $color-white;
        border: 1px solid #DCDBE5;
        border-radius: 10px;
        padding: 30px 30px;

        margin-bottom: 40px;

        @include media-only('lg') {
            margin-bottom: 0;
        }

        .widget {
            border-bottom: 1px solid #E8E8E8;
            padding-bottom: 23px;
            margin-bottom: 35px;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            .widget-heading {
                margin-bottom: 26px;
                h3 {
                    font-family: $font-outfit;
                    font-weight: 500;
                    @include toRem(font-size, 20);
                    line-height: 0px;
                    text-transform: capitalize;
                    color: $color-title;
                }
                .up-arrow-btn {
                    background: transparent;
                    border: none;
                    margin: 0;
                    padding: 0;
                }
            }
            ul {
                li {
                    .form-check {
                        .form-check-input {
                            width: 15px;
                            height: 15px;
                            border: 1px solid #9D9CAE;
                            border-radius: 3px;
                            &:focus {
                                border-color: #9D9CAE;
                                outline: 0;
                                box-shadow: unset;
                            }
                            &:checked {
                                background-color: $color-primary;
                                border-color: $color-primary;
                            }
                        }
                        .form-check-label {
                            font-family: $font-outfit;
                            font-weight: 400;
                            @include toRem(font-size, 16);
                            color: #4F536C;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                    .number-of-products {
                        font-family: $font-outfit;
                        font-weight: 400;
                        @include toRem(font-size, 15);
                        line-height: 32px;
                        color: $color-gray12;
                    }
                }
                .ratings {
                    transform: translateY(-3px);
                    gap: 4px;
                }
            }
            button.show-more-btn {
                margin-top: 10px;
                margin-bottom: 3px;
                border: none;
                background: transparent;

                font-family: $font-outfit;
                font-weight: 400;
                @include toRem(font-size, 16);
                color: $color-primary;
            }
        }
    }
    .all-course-content-wrapper {
        .nav-tabs {
            border-bottom: none;
        }
        .nav-link {
            padding: 0;
        }
        @include media-only(1500px, min) {
            padding-left: 10px;
        }
    }
}