.become-instructor-section {
    @include media-only ('lg', min) {
        padding-top: 180px;
    }
    .become-instructor-img {
        position: relative;
        padding-left: 0;
        display: inline-block;
        @include media-only ('lg', min) {
            padding-left: 58px;
        }
        &::before {
            content: url("../images/become-instructor/shapes/shape-bg.svg");
            position: absolute;
            left: 0;
            top: -43px;
            z-index: -1;
            display: none;
            @include media-only('lg', min) {
                left: -50px;
                display: block;
            }
            @include media-only(1330px, min) {
                left: 0;
                display: block;
            }
        }
    }

    .become-instructor-text-content-wrapper {
        .section-text-content {
            margin-bottom: 27px;
            .section-name {
            }
            .section-heading {
                margin-bottom: 50px;
                margin-bottom: 17px;
            }
        }
        .become-instructor-btn {
            margin-bottom: 30px;
            @include media-only('lg', min) {
                margin-bottom: 0;
            }
        }
    }

    .shapes {
        ul {
            li {
                position: absolute;
                display: inline-block;
                &:nth-child(1) {
                    right: 0;
                    top: -50px;
                    // @include media-only('xl', min) {
                    //     right: 50px;
                    // }
                }
                &:nth-child(2) {
                    left: 115px;
                    top: 45px;
                }
                &:nth-child(3) {
                    right: 160px;
                    top: 90px;
                }
            }

        }
    }

}