.banner-section {
    position: relative;
    background: url("../images/banner/banner-img.png");
    // filter: grayscale(60%);
    @include background-content;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background:#110E19;
        width: 100%;
        top: 0;
        bottom: 0;
        opacity: 0.8;
    }

    .banner-content-wrapper {
        position: relative;
        z-index: 1;
        .section-text-content {
            margin-bottom: 30px;
            .section-name {
                color: $color-white;
            }
            .section-heading {
                color: $color-white;
                @include toRem(font-size, 30);
                line-height: 52px;
                @include media-only('lg', min) {
                    @include toRem(font-size, 40);
                }
            }
        }
        .banner-btn {

        }
    }

    .shapes {
        ul {
            li {
                position: absolute;
                &:nth-child(1) {
                    left: 0;
                    top: 0;
                }
                &:nth-child(2) {
                    left: 186px;
                    top: 150px;
                }
                &:nth-child(3) {
                    text-align: center;
                    left: 0;
                    right: 30px;
                    top: 100px;
                }
            }

        }
    }
    &--style-2 {
        background: none;
        margin-bottom: 104px;
        &::before { 
            display: none;
        }
        .banner-card {
            background: $color-white;
            border: 1px solid #E0E0E0;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 35px 70px 35px 35px ;
            gap: 25px;
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;

            @include media-only('sm', min) {
                flex-direction: row;
                gap: 50px;
            }
            @include media-only(1400px, min) {
                margin-bottom: 0;
            }
            
            .banner-img {
                position: relative;
                .play-btn {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    background: #F0261E;
                    box-shadow: -8px -1px 10px rgba(0, 0, 0, 0.1);
                    svg {
                        margin-left: 4px;
                    }
                }
            }
            .banner-text-content {
                flex: 1;
                .title {
                    margin-bottom: 8px;
                    a {
                        font-family: $font-outfit;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 30px;
                        text-transform: capitalize;
                        color: $color-title;
                    }
                }
                .para-text {
                    margin-bottom: 20px;
                }
            }
            .shape1 {
                position: absolute;
                top: 0;
                left: 0;
            }
            .shape2 {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    &--style-3 {
        background: none;
        transform: translateY(-50px);
        @include media-only(1400px, min) {
            transform: translateY(-133px);
        }
        &::before { 
            display: none;
        }
        .banner-card {
            border: 1px solid #E0E0E0;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 35px 70px 35px 35px ;
            gap: 50px;
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;

            @include media-only('sm', min) {
                flex-direction: row;
            }
            @include media-only(1400px, min) {
                margin-bottom: 0;
            }
            @include media-from-to(1400px, min, 1500px, max) {
                // flex-direction: column;
            }
            
            .banner-img {
                position: relative;
                .play-btn {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    background: #F0261E;
                    box-shadow: -8px -1px 10px rgba(0, 0, 0, 0.1);
                    svg {
                        margin-left: 4px;
                    }
                }
            }
            .banner-text-content {
                flex: 1;
                .title {
                    margin-bottom: 8px;
                    a {
                        font-family: $font-outfit;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 30px;
                        text-transform: capitalize;
                        color: $color-white;
                    }
                }
                .para-text {
                    margin-bottom: 20px;
                    
                    font-family: 'Outfit';
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 26px;
                    text-transform: capitalize;
                    color: #F8F7F2;
                }
            }
            .shape1 {
                position: absolute;
                top: 0;
                left: 0;
            }
            .shape2 {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .button-white {
                color: $color-secondary;
                font-weight: 600;
                &:hover {
                    color: $color-white;
                }
            }
            // .btn-28:before {
            //     background-color: $color-primary;
            //   }
            // .btn-28:after {
            //     background-color: $color-primary;
            // }
        }
    }
    
}

.noise {
    position: relative;
    &::before {
        content: "";
        background-image: url("../images/banner/bg-noise.png");
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // background-color: red;
    }
}