.featured-course-section {
    padding-bottom: 110px;
    .section-text-content {
        margin-bottom: 0;
        @include media-only('lg', min) {
            margin-bottom: 32px;
        }
        .section-heading {
            position: relative;
            display: inline-block;
            &::before {
                content: url("../images/featured-course/shapes/underline.svg");
                position: absolute;
                bottom: -24px;
                right: 0;
                bottom: -22px;
                text-align: center;
                display: none;
                @include media-only('xl', min) {
                    display: block;
                }
            }
        }
    }
    .swiper {
        padding-bottom: 0;
    }
    .course-category-menu {
        ul.course-category-menu-list {
            gap: 10px;
            margin-bottom: 30px;
            @include media-only('lg', min) {
                margin-bottom: 0;
            }

            li {
                background: linear-gradient(180deg, #FFFFFF 0%, #EFEFEF 100%);
                border: 1px solid #DFDFDF;
                border-radius: 30px;
                padding: 8px 20px; 
                cursor: pointer;
                user-select: none;
                font-family: $font-outfit;
                font-weight: 500;
                @include toRem(font-size, 16);
                text-transform: capitalize;
                color: $color-shade1;
                
            }
            li.active {
                background: linear-gradient(118.54deg, #8674FF 6.57%, #593EFE 85.92%);
                border: 1px solid #684FFF;
                box-shadow: 0px 5px 6px rgba(99, 73, 255, 0.4);
                border-radius: 30px; 
                color: $color-white;
            } 
        }
    }
    &--style-2 {
        .swiper {

            .swiper-container-initialized {
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    background: rgb(207, 206, 206);
                    width: 329px;
                    height: 94%;
                    border-radius: 10px;
                    z-index: 2;
                    opacity: 0.7;
                }
            }
            // .swiper-wrapper {
                
                // .swiper-slide-visible {
                //     &:first-child {
                //         opacity: 0.2;
                //     }
                //     &:last-child {
                //         opacity: 0.2;
                //     }
                // }
            // }
        }
    }
}

.home2-page {
    .featured-course-section { 
        overflow: hidden;
        .swiper {
            margin: 0 -110px;
        }

        // .swiper-wrapper { 
        //     .swiper-slide-visible {
        //         &:first-child {
        //             opacity: 0.5;
        //         }
        //         &:nth-child(6) {
        //             opacity: 0.5;
        //         }
        //     }
        //     .swiper-slide {
        //         // width: 330px !important;
        //         // margin-right: 0 !important;
        //     }
        // }

        .section-text-content {
            .section-heading {
                &::before {
                    right: 0;
                    left: 0;
                }
            }
        }
    }
}

