.main-goal-section {
    .goal-img-area {
        .left {
            img {
                border-radius: 20px;
            }
            .experience {
                background: #FFCD1F;
                display: inline-block;
                border-radius: 10px;
                padding: 18px 45px;
                margin-bottom: 33px;
                .title {
                    font-family: $font-outfit;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 40px;
                    text-align: center;
                    text-transform: capitalize;
                    color: $color-white;
                }
                .para-text {
                    font-family: $font-outfit;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 30px;
                    text-align: center;
                    text-transform: capitalize;
                    color: $color-white;
                }
            }
        }
        .right {
            img {
                border-radius: 20px;
                margin-bottom: 40px;
            }
            .positive-reviews {
                background: $color-white;
                border: 1px solid #000000;
                box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                display: inline-block;
                .content-wrapper {
                    padding: 18px 40px 15px 19px; 
                    gap: 16px;
                    img {
                        margin-bottom: 0;
                    }
                    .title {
                        font-family: $font-outfit;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 45px;
                        text-transform: capitalize;
                        color: #09101B;
                    }
                    .para-text {
                        font-family: $font-outfit;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        text-transform: capitalize;
                        color: #737373;
                    }
                }
            }
        }
    }
    .main-goal-text-content-wrapper {
        @include media-only('lg', min) {
            padding-left: 45px;
        }
        .section-text-content {
            .section-heading {
                font-weight: 700;
                line-height: 50px;
                &::before {
                    content: url("../images/goal/shapes/underline-shape.svg");
                    position: absolute;
                    bottom: 32px;
                    right: 0;
                    left: 35px;
                    text-align: center;
                }
            }
        }
        .info-wrapper {
            .infobox {
                gap: 22px;
                margin-bottom: 20px;
                @include media-only (510px, min) {
                    margin-bottom: 38px;
                }
                .icon {
                    width: 90px;
                    height: 90px;
                    background: linear-gradient(137.46deg, #9A8CFE 2.9%, #543EE8 93.62%);
                    border-radius: 15px;
                    position: relative;
                    z-index: 0;
                    &::before {
                        content: "";
                        position: absolute;
                        background: linear-gradient(315deg, #9A8CFE 2.9%, #543EE8 93.62%);
                        opacity: 0;
                        visibility: hidden;
                        width: 100%;
                        height: 100%;
                        @include transition;
                        left: 0;
                        top: 0;
                        border-radius: 15px;
                        z-index: -1;
                    }
                    &:hover {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .text-content {
                    .title {
                        a {
                            font-family: $font-outfit;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 25px;
                            text-transform: capitalize;
                            color: $color-title;
                            &:hover {
                                color: $color-primary;
                            }

                        }
                    }
                    .para-text {
                        width: 326px;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}