.instructor-profile-section {
    .profile-nav-wrapper {
        padding: 30px;
        background: #FFFFFF;
        border: 1px solid #DCDBE5;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        height: 663px;
        .nav-pills {
            .nav-link {
                background: #F8F8F8;
                border-radius: 6px;
                margin-bottom: 10px;
                text-align: left;
                padding: 18px 1rem;

                font-family: $font-outfit;
                font-weight: 400;
                font-size: 17px;
                line-height: 0px;
                text-transform: capitalize;
                color: $color-title;

                svg {
                    margin-right: 10px;
                }
            }
            .nav-link.active {
                background: $color-primary;
                color: $color-white;
                svg {
                    fill: $color-white;
                }
            }
        }
    }

    .profile-content-wrapper {
        .profile-info-wrapper {
            gap: 14px;
            margin-bottom: 32px;
            .instructor-profile-info {
                background: #FFFFFF;
                border: 1px solid #DCDBE5;
                border-radius: 10px;
                padding: 45px 45px 28px;
                text-align: center;
                .avatar {
                    display: inline-block;
                    width: 160px;
                    height: 160px;
                    background: #D9D9D9;
                    overflow: hidden;
                    padding-top: 15px;
                    text-align: center;
                    margin-bottom: 8px;
                    img {
                        height: 145px;
                    }
                }
                .instructor-name {
                    font-family: $font-outfit;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 40px;
                    text-transform: capitalize;
                    color: $color-primary;
                }
                .designation {
                    font-family: $font-outfit;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    text-transform: capitalize;
                    color: #4F536C;
                    margin-bottom: 22px;
                }
                .rating {
                    gap: 8px;
                    margin-bottom: 25px;
                    span {
                        font-family: 'Hind';
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 0px;
                        color: #9D9CAE;
                    }
                }
                .contact-info-wrapper {
                    gap: 30px;
                    a {
                        font-family: $font-outfit;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 40px;
                        color: #9D9CAE;
                        gap: 10px;
                    }
                    .phone {

                    }
                    .email {

                    }
                }
            }   
            .instructor-profile-item-wrapper {
                gap: 14px;
                flex-wrap: wrap;
                flex: 1;
                .instructor-profile-item {
                    width: 300px;
                    height: 125px;
                    padding: 35px;
                    background: #FFFFFF;
                    border: 1px solid #DCDBE5;
                    border-radius: 10px;
                    gap: 21px;
                    @include transition;
                    .icon {
                        width: 50px;
                        height: 50px;
                        border-radius: 6px;
                    }
                    .item-text-content {
                        .item-number {
                            font-family: $font-outfit;
                            font-weight: 400;
                            font-size: 30px;
                            line-height: 20px;
                            text-transform: capitalize;
                            color: $color-title;
                            margin-bottom: 10px;
                            @include transition;
                        }
                        .item-name {
                            font-family: $font-outfit;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 20px;
                            text-transform: capitalize;
                            color: #4F536C;
                            @include transition;
                        } 
                    }

                    &:nth-child(1) {
                        .icon {
                            background: #F1EFFF;
                        }
                    }
                    &:nth-child(2) {
                        .icon {
                            background: #FFEFEE;
                        }
                    }
                    &:nth-child(3) {
                        .icon {
                            background: #E7F6EE;
                        }
                    }
                    &:nth-child(4) {
                        .icon {
                            background: #F5E3FF;
                        }
                    }
                    &:nth-child(5) {
                        .icon {
                            background: #FFF5F1;
                        }
                    }
                    &:nth-child(6) {
                        .icon {
                            background: #FFF7E3;
                        }
                    }

                    &:hover {
                        background: $color-primary;
                        .icon {
                            svg {
                                animation: toBottomFromTop 0.5s forwards;
                            }
                        }
                        .item-text-content {
                            .item-number {
                                color: $color-white;
                            }
                            .item-name {
                                color: $color-white;
                            } 
                        }
                    }
                }
            }
        }
        .bio {
            background: #FFFFFF;
            border: 1px solid #DCDBE5;
            border-radius: 10px;
            padding: 30px 50px 35px 50px;
            .title {
                font-family: $font-outfit;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #241442;
                margin-bottom: 14px;
            }
            .bio-text {
                font-family: $font-outfit;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #4F536C;
            }
        }
    }
}