.course-intro-section {
    position: relative;
    .section-text-content {
        margin-bottom: 75px;
        .section-heading {
            color: $color-white;
            position: relative;
            &::before {
                content: url("../images/hero-section/shapes/hero-shape-5.svg");
                position: absolute;
                bottom: -33px;
                right: 0;
                left: 0;
                text-align: center;
                display: none;
                @include media-only('lg', min) {
                    display: block;
                }
            }
        }
    }

    .course-intro-text-content-wrapper {
        position: relative;
        padding-left: 30px;
        margin-top: 0;
        @include media-only('lg', min) {
            margin-top: 70px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 362px;
            background: #423855;
            left: 0;
            top: -5px;
        }
        .title {
            font-family: $font-outfit;
            font-weight: 500;
            @include toRem(font-size, 22);
            line-height: 30px;
            text-transform: capitalize;
            color: $color-white;
        }
        .content-title {
            gap: 16px;
            margin-bottom: 18px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 168px;
                left: -30px;
                top: -5px;
                background: $color-primary;
            }
        }
        .para-text {
            @include toRem(font-size, 16);
            color: $color-gray12;
            margin-bottom: 35px;
        }
        .feature-list {
            ul {
                li {
                    @extend .title;
                    gap: 26px;
                    color: $color-gray12;
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .course-intro-video {
        z-index: 0;
        padding-left: 20px;
        position: relative;
        padding-top: 50px;
        @include media-only('lg', min) {
            padding-top: 0;
        }
        .play-icon {
            width: 80px;
            height: 80px;
            background: $color-primary;
            padding-left: 5px;
            position: absolute;
            top: 45%; 
            right: 50%;
            transform: translate(50%,-50%);
            z-index: 1;
        }
        .intro-video-shapes {
            ul {
                li {
                    position: absolute;
                    display: inline-block;
                    &:nth-child(1) {
                        top: -45px;
                        right: 35px;
                        z-index: 1;
                    }
                    &:nth-child(2) {
                        left: 0;
                        right: 0;
                        bottom: 45px;
                        text-align: center;
                        z-index: -1;
                    }
                }
            }
        }
    }
    .shapes {
        ul {
            li {
                position: absolute;
                display: inline-block;
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    &--style-1 {
        padding-bottom: 90px;
        .course-intro-text-content-wrapper {
            padding-left: 0;
            margin-left: 0;
            @include media-only(1500, min) {
                margin-left: 50px;
            }
            &::before {
                left: -1px;
                top: 0;
                height: 340px;
            }
            .accordion-flush .accordion-item {
                margin-bottom: 22px;
            }
            .accordion-button {
                background: $color-secondary;
                font-family: $font-outfit;
                font-weight: 500;
                @include toRem(font-size, 22);
                line-height: 30px;
                color: #9D9CAE;
                padding: 1rem 30px;
                text-transform: capitalize;
                border-radius: 0;
                svg {
                    margin-right: 25px;
                }
                border-left: 4px solid $color-secondary;
                @include transition;
            }
            .accordion-body {
                font-family: $font-outfit;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                text-transform: capitalize;
                color: #9D9CAE;
                background: $color-secondary;
                border: none;
                border-radius: 0;
                padding: 5px 30px;
                border-left: 4px solid $color-primary;
                @include transition;
            }
            .accordion-button::after {
                display: none;
            }
            .accordion-flush .accordion-item .accordion-button:not(.collapsed) {
                color: $color-white;
                background-color: $color-secondary;
                box-shadow: none;
                border-radius: 0;
                position: relative;
                svg {
                    fill: $color-white;
                }
                border-left: 4px solid $color-primary;
            }
        }
    }

    &--style-2 {
        .section-text-content {
            margin-bottom: 30px;
            @include media-only('lg', min) {
                margin-bottom: 0;
            }
            .section-heading {
                margin-bottom: 0;
            }
        }

        .course-intro-text-content-wrapper {
            padding-left: 0;
           .course-intro-item {
                background: #2F1C51;
                border-radius: 10px;
                padding: 25px 20px 25px 33px;
                margin-bottom: 24px;
                gap: 39px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                .content-title {
                    .title {
                        
                    }
                    .para-text {
                        margin-bottom: 0;
                    }
                }
                &:first-child {
                    gap: 34px;
                }
                &:nth-child(2) {
                    
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    // margin-left: 30px;
                    transform: translateX(30px);
                }
           }
            &::before {
                display: none;
            }
            .content-title {
                &::before {
                    display: none;
                }
                margin-bottom: 0;
            }
        }
        
        .course-intro-video {
            padding-left: 0;
            .intro-video-shapes {
                ul {
                    li {
                        position: absolute;
                        display: inline-block;
                        &:nth-child(1) {
                            display: inline-block;
                            bottom: 15px;
                            right: 25px;
                            top: unset;
                            z-index: -1;
                        }
                        &:nth-child(2) {
                            top: 40px;
                            left: -45px;
                            right: unset;
                            bottom: 45px;
                            text-align: center;
                            z-index: -1;
                            display: inline-block;
                        }
                        &:nth-child(3) {
                            top: 25px;
                            right: 0;
                            display: inline-block;
                            border-radius: 10px;
                            @include media-only(1700px, min) {
                                right: -90px;
                            }
                        }
                        &:nth-child(4) {
                            left: -131px;
                            bottom: 67px;
                            display: inline-block;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}