.about-section {
    padding-bottom: 127px;
    .about-img {
        text-align: center;
        position: relative;
        margin-bottom: 50px;
        @include media-only('lg', min) {
            margin-bottom: 0;
        }
        .background-shape1 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            z-index: -1;
            @include media-only('lg', min) {
                left: 0;
                right: unset;
            }
        }
        .shapes {
            ul {
                li {
                    position : absolute;
                    &:nth-child(1) {
                        top: 15px;
                        left: 130px;
                    }
                    &:nth-child(2) {
                        top: 32%;
                        right: 40px;
                        z-index: -1;
                    }
                    &:nth-child(3) {
                        top: -35px;
                        right: 300px;
                    }
                }
            }
        }
    }
    .about-content-wrapper {
        margin-top: 22px;
        .section-text-content {
            margin-bottom: 33px;
            .section-name {
                margin-bottom: 16px;
            }
            .section-heading {
                font-weight: 700;
                line-height: 48px;
                margin-bottom: 18px;
                &::before {
                    content: url("../images/about/shapes/about-shape-3.svg");
                    position: absolute;
                    bottom: 32px;
                    right: 30px;
                    display: none;
                    @include media-only('lg', min) {
                        display: block;
                    }
                }
            }
            .para-text {

            }
        }
    }
    &--style-1 {
        
    }
    &--style-2 {
        padding-top: 160px;
        padding-bottom: 160px;
        .about-img {
            // width: 100%;
            img {
                width: 75%;
                @include media-only('lg', min) {
                    width: 100%;
                }
            }
            .background-shape1 {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
        .counter-wrapper {
            gap: 0;
            margin-bottom: 10px;
            @include media-only(400px, min) {
                gap: 25px;
            }
            @include media-only('xs', min) {
                gap: 85px;
            }
        }

        .about-content-wrapper {
            margin-top: 22px;
            .section-text-content {
                margin-bottom: 33px;
                .section-name {
                    margin-bottom: 16px;
                }
                .section-heading {
                    font-weight: 700;
                    line-height: 50px;
                    margin-bottom: 30px;
                    &::before {
                        content: url("../images/about/shapes/about-shape-3.svg");
                        position: absolute;
                        bottom: 32px;
                        right: 30px;
                        display: none;
                        @include media-only('lg', min) {
                            display: block;
                        }
                    }
                }
                .para-text {
    
                }
            }
        }

        .shapes {
            ul {
                li {
                    position : absolute;
                    &:nth-child(1) {
                        top: 0;
                        left: 123px;
                    }
                    &:nth-child(2) {
                        top: 23%;
                        right: 52px;
                        z-index: -1;
                    }
                    &:nth-child(3) {
                        top: -35px;
                        right: 300px;
                    }
                }
            }
        }
    }
    &--style-3 {
        .about-img-area {
            position: relative;
            .images-wrapper {
                gap: 35px;
                .img-left {
                    img {
                        &:nth-child(1) {
                            border-radius: 20px;
                        }
                    }
                }
                .img-right {
                    gap: 20px;
                    img {
                        &:nth-child(1) {
                            border-radius: 200px;
                            width: 291px;
                            height: 211px;
                        }
                        &:nth-child(2) {
                            border-radius: 200px 20px 0px 0px;
                            margin-left: -8px;
                        }
                    }
                }
            }
            .shapes {
                ul {
                    li {
                        position: absolute;
                        &:nth-child(1) {
                            top: -15px;
                            left: -172px;
                            right: 0;
                            text-align: center;
                            z-index: -1;
                        }
                        &:nth-child(2) {
                            right: -20px;
                            top: 130px;
                            z-index: -1;
                        }
                        &:nth-child(3) {
                            left: 85px;
                            bottom: 0;
                            z-index: -1;
                        }
                        &:nth-child(4) {
                            left: 0;
                            bottom: -31px;
                            right: 0;
                            text-align: center;
                            z-index: -2;
                        }
                    }
                }
            }
        }
        .about-content-wrapper {
            padding-left: 70px;

            .section-text-content {
                .para-1 {
                    margin-bottom: 20px;
                }
            }

            .course-learning {
                .course-learning-list {
                    columns: unset;
                }
            }
        }
    }
    &--style-4 {
        padding-bottom: 0;
    }
}