
.rt-hero-section {
    &-content-wrapper {
        padding: 70px 0;
        @include media-only('lg', min) {
            padding: 0;
        }
        .section-text-content {
            .section-name {
                color: $color-shade1;
                margin-bottom: 4px;
            }
            .section-heading {
                position: relative;
                display: inline-block;
                font-size: 45px;
                line-height: 60px;
                color: $color-title;
                svg {
                    vertical-align: sub;
                }
                margin-bottom: 25px;
                &::before {
                    content: url("../images/hero-section/shapes/hero-shape-5.svg");
                    position: absolute;
                    display: none;
                    right: 0;
                    @include media-only('md', min) {
                        top: 60px;
                        display: block;
                    }
                    @include media-only('lg', min) {
                        top: 30px;
                        display: block;
                    }
                }

                @include media-only('lg', min) {
                    font-size: 60px;
                    line-height: 76px;
                }
            }
            .para-text {
                margin-bottom: 30px;
            }
        }
    }
    &-banner-img {
        position: relative;
        padding: 50px 25px 65px 0;
        z-index: 0;
        .hero-img-wrapper {
            position: relative;
            display: inline-block;
            .play-btn {
                width: 65px;
                height: 65px;
                background: #FC5842;
                border: 1px solid $color-white;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                svg {
                    margin-left: 5px;
                }
            }
        }
        .shapes {
            ul {
                li {
                    position: absolute;
                    &:nth-child(1) {
                        top: 190px;
                        left: 132px;
                    }
                    &:nth-child(2) {
                        top: 45px;
                        left: 250px;
                    }
                    &:nth-child(3) {
                        top: 47px;
                        right: 120px;
                    }
                    &:nth-child(4) {
                        bottom: 268px;
                        right: 0;
                    }
                }
            }
        }
    }

    &--style-2 {
        padding: 160px 0;
        .section-text-content {
            position: relative;
            z-index: 0;
            margin-bottom: 50px;
            .section-name {
                margin-bottom: 26px;
            }
            .section-heading {
                font-size: 45px;
                line-height: 55px;
                span {
                    color: $color-title;
                    position: relative;
                    margin-right: 10px;
                    @include media-only('md', min) {
                        color: $color-white;
                    }
                    &::before {
                        content: url("../images/hero-section/shapes/hero-shape-6.svg");
                        position: absolute;
                        left: -10px;
                        z-index: -1;
                        top: -7px;
                        display: none;
                        @include media-only('md', min) {
                            display: block;
                        }
                    }
                }
                @include media-only('md', min) {
                    font-size: 55px;
                    line-height: 69px;
                }
            }
        }
        .brand-section {
            padding: 0;
            .brand-wrapper {
                gap: 60px;
            }
        }

        .shapes {
            ul {
                li {
                    position: absolute;
                    &:nth-child(1) {
                        top: -10px;
                        left: -106px;
                        z-index: -1;
                    }
                    &:nth-child(2) {
                        top: -6px;
                        left: -75px;
                    }
                }
            }
        }
        .hero2-section-shapes {
            ul {
                li {
                    position: absolute;
                    &:nth-child(1) {
                        right: 50px;
                        bottom: 0;
                        // z-index: -1;
                    }
                }
            }
        }
    }
    &--style-3 { 
        background: #F2F2F2;
        overflow: hidden;
        .rt-hero-section-content-wrapper {
            padding-right: 15px;
            .section-heading {
                font-size: 50px;
                line-height: 63px;
                span {
                    color: $color-title;
                    position: relative;
                    margin-left: 10px;
                    @include media-only('md', min) {
                        color: $color-white;
                    }
                    &::before {
                        content: url("../images/hero-section/shapes/hero-shape-7.svg");
                        position: absolute;
                        left: -10px;
                        z-index: -1;
                        top: -7px;
                        display: none;
                        @include media-only('md', min) {
                            display: block;
                        }
                    }
                }
                &::before {
                    left: -82px;
                    right: 0;
                    top: 15px;
                    text-align: center;
                }
            }
            .para-text {
                font-size: 20px;
            }
        }
        .rt-hero-section-banner-img {
            position: relative;
            padding: 58px 0 0 0px;
            .hero-img-wrapper {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 435px;
                    height: 360px;
                    background: linear-gradient(131.21deg, #89A2FF -15.54%, #FFC6C6 115.33%);
                    filter: blur(200px);
                    top: 40%;
                    right: -25px;
                    z-index: -1;
                }
            }
            .shapes {
                ul {
                    li {
                        position: absolute;
                        &:nth-child(1) {
                            left: -155px;
                            bottom: 0;
                            top: unset;
                            z-index: -1;
                        }
                        &:nth-child(2) {
                            left: 90px;
                            bottom: 22%;
                            top: unset;
                            z-index: -1;
                        }
                        &:nth-child(3) {
                            top: 21%;
                            left: 30px;
                            right: unset;
                            z-index: -1;
                        }
                        &:nth-child(4) {
                            left: 47%;
                            right: unset;
                            bottom: unset;
                            top: 16%;
                            z-index: -1;
                        }
                        &:nth-child(5) {
                            left: unset;
                            right: 125px;
                            margin: auto;
                            bottom: unset;
                            top: 5%;
                            z-index: -1;
                        }
                        &:nth-child(6) {
                            left: unset;
                            right: -115px;
                            bottom: 15%;
                        }
                        &:nth-child(7) {
                            bottom: 0;
                            right: -10px;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
    &--style-4 {
        z-index: 0;
        .rt-hero-section-banner-img {
            position: relative;
            padding: 0;
            .hero-img-wrapper {
                .shapes-img {
                    ul {
                        li {
                            position: absolute;
                            &:nth-child(1) {
                                left: -150px;
                                bottom: 5px;
                                z-index: -1;
                            }
                            &:nth-child(2) {
                                left: 90px;
                                top: -27px;
                                z-index: -1;
                            }
                            &:nth-child(3) {
                                right: 100px;
                                top: -35px;
                                z-index: -1;
                            }
                        }
                    }
                }
            }
        }
        .section-text-content {
            .section-name {
                color: $color-white;
            }
            .section-heading {
                color: $color-white;
                ::before {
                    right: 0;
                }
            }
        }

        .shapes {
            ul {
                li {
                    position: absolute;
                    &:nth-child(1) {
                        left: 0;
                        bottom: 0;
                        z-index: -1;
                    }
                    &:nth-child(2) {
                        right: 0;
                        bottom: 0;
                        z-index: -1;
                    }
                }
            }
        }
    }
}