.brand-section {
    padding-bottom: 140px;
    .section-text-content {
        margin-bottom: 45px;
        .section-heading {
            font-size: 24px;
            // line-height: 0px;
            letter-spacing: 0.01em;
        }
        .para-text {

        }
    }

    .brand-wrapper {
        gap: 110px;
        .brand-link {
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}