.call-to-action-section {
    z-index: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    @include media-only ('lg', min) {
        padding-top: 34px;
        padding-bottom: 0;
    }
    .call-to-action-img {
        position: relative;
        z-index: 0;
        .call-img-shapes {
            ul {
                li {
                    position: absolute;
                    &:nth-child(1) {
                        left: -120px;
                        bottom: 0;
                        z-index: -1;
                    }
                }
            }
        }
    }
    .section-heading  {
        color: $color-white;
        font-weight: 500;
    }
    .shapes {
        ul {
            li {
                position: absolute;
                display: inline-block;
                &:nth-child(1) {
                    left: 209px;
                    top: 29px;
                    z-index: -1;
                }
                &:nth-child(2) {
                    right: 0;
                    top: 0;
                    z-index: -1;
                }
                &:nth-child(3) {
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                }
                &:nth-child(4) {
                    left: 135px;
                    bottom: 0;
                    z-index: -1;
                    @include media-from-to(1200px, min, 1650px, max) {
                        left: 0;
                    }
                }
                &:nth-child(5) {
                    left: 0;
                    right: 0;
                    text-align: center;
                    top: 11px;
                    z-index: -1;
                }
                &:nth-child(6) {
                    right: 580px;
                    text-align: center;
                    bottom: 10px;
                    z-index: -1;
                }
            }
        }
    }
}