.brand-section {
    padding-bottom: 140px;
    .section-text-content {
        margin-bottom: 45px;
        .section-heading {
            @include toRem(font-size, 24);
            // line-height: 0px;
            letter-spacing: 0.01em;
        }
        .para-text {

        }
    }

    .brand-wrapper {
        gap: 110px;
        .brand-link {
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
    }
    &--style-2 {
        .brand-wrapper {
            .brand-link {
                img {
                    opacity: 0.4;
                    @include transition;
                }
                &:hover {
                    filter: grayscale(0);
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &--style-3 {
        padding: 94px 0 0 0;
        .brand-wrapper {
            border-bottom: 1px solid #E4E4E4;
            gap: 85px;
            padding-bottom: 61px;
        }
        .section-text-content {
            .para-text {
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.01em;
                span {
                    font-weight: 600;
                    color: $color-title;
                }
            }
        }
    }
    &--style-4 {
        padding: 125px 0;
        .brand-wrapper {
            border-bottom: none;
            gap: 85px;
            padding-bottom: 0;
        }
        .section-text-content {
            .para-text {
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.01em;
                span {
                    font-weight: 600;
                    color: $color-title;
                }
            }
        }
    }
}