.featured-course-section {
    padding-bottom: 110px;
    .section-text-content {
        margin-bottom: 0;
        @include media-only('lg', min) {
            margin-bottom: 32px;
        }
        .section-heading {
            position: relative;
            display: inline-block;
            &::before {
                content: url("../images/featured-course/shapes/underline.svg");
                position: absolute;
                bottom: -24px;
                right: 0;
                bottom: -22px;
                text-align: center;
                display: none;
                @include media-only('xl', min) {
                    display: block;
                }
            }
        }
    }
    .swiper {
        padding-bottom: 0;
    }
    .course-category-menu {
        ul.course-category-menu-list {
            gap: 10px;
            margin-bottom: 30px;
            @include media-only('lg', min) {
                margin-bottom: 0;
            }

            li {
                background: linear-gradient(180deg, #FFFFFF 0%, #EFEFEF 100%);
                border: 1px solid #DFDFDF;
                border-radius: 30px;
                padding: 8px 20px; 
                cursor: pointer;
                user-select: none;
                font-family: $font-outfit;
                font-weight: 500;
                @include toRem(font-size, 16);
                text-transform: capitalize;
                color: $color-shade1;
                
            }
            li.active {
                background: linear-gradient(118.54deg, #8674FF 6.57%, #593EFE 85.92%);
                border: 1px solid #684FFF;
                box-shadow: 0px 5px 6px rgba(99, 73, 255, 0.4);
                border-radius: 30px; 
                color: $color-white;
            } 
        }
    }
    &--style-2 {
        .swiper {
            @include media-only('md', min) {
                .visible-first {
                    opacity: 0.5;
                }
                .visible-last {
                    opacity: 0.5;
                }
            }
        }
    }
    &--style-4 {
        padding-top: 40px;
        padding-bottom: 239px;
        .section-text-content {
            .section-heading {
                font-weight: 700;
                &::before {
                    bottom: -22px;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }
        }
    }
}

.home2-page {
    .featured-course-section { 
        overflow: hidden;
        .swiper {
            margin: 0 0;
            @include media-only('md', min) {
                margin: 0 -110px;
            }
        }

        // .swiper-wrapper { 
        //     .swiper-slide-visible {
        //         &:first-child {
        //             opacity: 0.5;
        //         }
        //         &:nth-child(6) {
        //             opacity: 0.5;
        //         }
        //     }
        //     .swiper-slide {
        //         // width: 330px !important;
        //         // margin-right: 0 !important;
        //     }
        // }

        .section-text-content {
            .section-heading {
                &::before {
                    right: 0;
                    left: 0;
                }
            }
        }
    }
}

.home3-page, .home4-page {
    .wrapper {
        position: relative;
    }
    .slider-navigation-btn-wrapper .prev {
        left: -30px;
    }
    .slider-navigation-btn-wrapper .next {
        right: -30px;
    }
} 

