.course-category-section {
    padding-bottom: 110px;
    .section-text-content {
        .section-name {
            
        }
        .section-heading {
            position: relative;
            margin-bottom: 42px;
            &::before {
                content: url("../images/hero-section/shapes/hero-shape-5.svg");
                position: absolute;
                top: 24px;
                left: 138px;
                display: none;
                @include media-only('md', min) {
                    display: block;
                }
            }
        }
        .para-text {

        }
    }
    &--style-2 {
        padding-bottom: 140px;
        .explore-btn-wrapper {
            margin-top: 20px;
        }
    }
}