.become-instructor-section {
    .become-instructor-img {
        position: relative;
        padding-left: 55px;
        &::before {
            content: url("../images/become-instructor/shapes/shape-bg.svg");
            position: absolute;
            left: 0;
            top: -43px;
            z-index: -1;
        }
    }

    .become-instructor-text-content-wrapper {
        .section-text-content {
            margin-bottom: 27px;
            .section-name {
            }
            .section-heading {
                margin-bottom: 50px;
                margin-bottom: 17px;
            }
        }
    }

    .shapes {
        ul {
            li {
                position: absolute;
                display: inline-block;
                &:nth-child(1) {
                    right: 50px;
                    top: -50px;
                }
                &:nth-child(2) {
                    left: 115px;
                    top: 45px;
                }
                &:nth-child(3) {
                    right: 220px;
                    top: 90px;
                }
            }

        }
    }

}