.header-topbar {
    padding: 46px 0 40px 0;

    .action-button-area {
        gap: 10px;
        .button {
            border: 1px solid #CBCBCB;
            color: #100E19;
            &:hover {
                background: $color-secondary;
                color: $color-white;
                border: 1px solid $color-secondary;
            }
        }
        .login-btn {

        }
        .button.active {
            background: $color-secondary;
            border: 1px solid $color-secondary;
            color: $color-white;
        }
    }

    &--style-1 {
        position: relative;
        .header-topbar-wrapper {
            flex-wrap: wrap;
            gap: 20px;
            @include media-only('xl', min) {
                flex-wrap: unset;
                gap: unset;
            }
            .header-logo {
                margin-top: -25px;
            }        
            
        }
    }
    &--style-3 {
        padding: 41px 0 0 0;
        .header-logo {
            margin-top: -25px;
        }
        .header-topbar-wrapper {
            gap: 20px;
            @include media-only('xl', min) {
                flex-wrap: unset;
                gap: unset;
            }      
        }
        .searchbox-container {
            width: 736px;
            margin-left: 0;
            @include media-only(1400px, min) {
                width: 997px;
                margin-left: 33px;

            }
        }
    }
}